@tailwind components;
@tailwind utilities;

.wxb-btn-big {
  font-size: 12px;
  width: 100%;
  height: 32px;
}

.wxb-input {
  display: block;
  height: 32px !important;
  width: 100%;
  padding: 5px 10px !important;
  color: inherit !important;
  border-radius: 2px !important;
  transition: .3s;
  font-size: inherit;
  @apply wxb-bg-gray-800;
  @apply wxb-border wxb-border-solid wxb-border-gray-900 !important;
}

.wxb-variant {
  font-weight: bold;
  @apply wxb-text-yellow-500;
}